<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whu.gugugu.generated.mapper.PartyMapper">
  <resultMap id="BaseResultMap" type="cn.whu.gugugu.generated.model.Party">
    <id column="party_id" jdbcType="VARCHAR" property="partyId" />
    <result column="party_subject" jdbcType="VARCHAR" property="partySubject" />
    <result column="party_detail" jdbcType="VARCHAR" property="partyDetail" />
    <result column="party_date" jdbcType="TIMESTAMP" property="partyDate" />
    <result column="deposit" jdbcType="INTEGER" property="deposit" />
    <result column="latitude" jdbcType="REAL" property="latitude" />
    <result column="longtitude" jdbcType="REAL" property="longtitude" />
    <result column="originator" jdbcType="VARCHAR" property="originator" />
    <result column="total_sum" jdbcType="INTEGER" property="totalSum" />
    <result column="participate_time" jdbcType="TIMESTAMP" property="participateTime" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="place" jdbcType="VARCHAR" property="place" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    party_id, party_subject, party_detail, party_date, deposit, latitude, longtitude, 
    originator, total_sum, participate_time, mode, place
  </sql>
  <select id="selectByExample" parameterType="cn.whu.gugugu.generated.model.PartyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from party
    where party_id = #{partyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from party
    where party_id = #{partyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.whu.gugugu.generated.model.PartyExample">
    delete from party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.whu.gugugu.generated.model.Party">
    insert into party (party_id, party_subject, party_detail, 
      party_date, deposit, latitude, 
      longtitude, originator, total_sum, 
      participate_time, mode, place
      )
    values (#{partyId,jdbcType=VARCHAR}, #{partySubject,jdbcType=VARCHAR}, #{partyDetail,jdbcType=VARCHAR}, 
      #{partyDate,jdbcType=TIMESTAMP}, #{deposit,jdbcType=INTEGER}, #{latitude,jdbcType=REAL}, 
      #{longtitude,jdbcType=REAL}, #{originator,jdbcType=VARCHAR}, #{totalSum,jdbcType=INTEGER}, 
      #{participateTime,jdbcType=TIMESTAMP}, #{mode,jdbcType=INTEGER}, #{place,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.whu.gugugu.generated.model.Party">
    insert into party
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        party_id,
      </if>
      <if test="partySubject != null">
        party_subject,
      </if>
      <if test="partyDetail != null">
        party_detail,
      </if>
      <if test="partyDate != null">
        party_date,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longtitude != null">
        longtitude,
      </if>
      <if test="originator != null">
        originator,
      </if>
      <if test="totalSum != null">
        total_sum,
      </if>
      <if test="participateTime != null">
        participate_time,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="place != null">
        place,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="partySubject != null">
        #{partySubject,jdbcType=VARCHAR},
      </if>
      <if test="partyDetail != null">
        #{partyDetail,jdbcType=VARCHAR},
      </if>
      <if test="partyDate != null">
        #{partyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=REAL},
      </if>
      <if test="longtitude != null">
        #{longtitude,jdbcType=REAL},
      </if>
      <if test="originator != null">
        #{originator,jdbcType=VARCHAR},
      </if>
      <if test="totalSum != null">
        #{totalSum,jdbcType=INTEGER},
      </if>
      <if test="participateTime != null">
        #{participateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.whu.gugugu.generated.model.PartyExample" resultType="java.lang.Long">
    select count(*) from party
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update party
    <set>
      <if test="record.partyId != null">
        party_id = #{record.partyId,jdbcType=VARCHAR},
      </if>
      <if test="record.partySubject != null">
        party_subject = #{record.partySubject,jdbcType=VARCHAR},
      </if>
      <if test="record.partyDetail != null">
        party_detail = #{record.partyDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.partyDate != null">
        party_date = #{record.partyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deposit != null">
        deposit = #{record.deposit,jdbcType=INTEGER},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=REAL},
      </if>
      <if test="record.longtitude != null">
        longtitude = #{record.longtitude,jdbcType=REAL},
      </if>
      <if test="record.originator != null">
        originator = #{record.originator,jdbcType=VARCHAR},
      </if>
      <if test="record.totalSum != null">
        total_sum = #{record.totalSum,jdbcType=INTEGER},
      </if>
      <if test="record.participateTime != null">
        participate_time = #{record.participateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mode != null">
        mode = #{record.mode,jdbcType=INTEGER},
      </if>
      <if test="record.place != null">
        place = #{record.place,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update party
    set party_id = #{record.partyId,jdbcType=VARCHAR},
      party_subject = #{record.partySubject,jdbcType=VARCHAR},
      party_detail = #{record.partyDetail,jdbcType=VARCHAR},
      party_date = #{record.partyDate,jdbcType=TIMESTAMP},
      deposit = #{record.deposit,jdbcType=INTEGER},
      latitude = #{record.latitude,jdbcType=REAL},
      longtitude = #{record.longtitude,jdbcType=REAL},
      originator = #{record.originator,jdbcType=VARCHAR},
      total_sum = #{record.totalSum,jdbcType=INTEGER},
      participate_time = #{record.participateTime,jdbcType=TIMESTAMP},
      mode = #{record.mode,jdbcType=INTEGER},
      place = #{record.place,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.whu.gugugu.generated.model.Party">
    update party
    <set>
      <if test="partySubject != null">
        party_subject = #{partySubject,jdbcType=VARCHAR},
      </if>
      <if test="partyDetail != null">
        party_detail = #{partyDetail,jdbcType=VARCHAR},
      </if>
      <if test="partyDate != null">
        party_date = #{partyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=INTEGER},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="longtitude != null">
        longtitude = #{longtitude,jdbcType=REAL},
      </if>
      <if test="originator != null">
        originator = #{originator,jdbcType=VARCHAR},
      </if>
      <if test="totalSum != null">
        total_sum = #{totalSum,jdbcType=INTEGER},
      </if>
      <if test="participateTime != null">
        participate_time = #{participateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
    </set>
    where party_id = #{partyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.whu.gugugu.generated.model.Party">
    update party
    set party_subject = #{partySubject,jdbcType=VARCHAR},
      party_detail = #{partyDetail,jdbcType=VARCHAR},
      party_date = #{partyDate,jdbcType=TIMESTAMP},
      deposit = #{deposit,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=REAL},
      longtitude = #{longtitude,jdbcType=REAL},
      originator = #{originator,jdbcType=VARCHAR},
      total_sum = #{totalSum,jdbcType=INTEGER},
      participate_time = #{participateTime,jdbcType=TIMESTAMP},
      mode = #{mode,jdbcType=INTEGER},
      place = #{place,jdbcType=VARCHAR}
    where party_id = #{partyId,jdbcType=VARCHAR}
  </update>
</mapper>